@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>My product list 123</h1>
<table class="table table-active">
    <thead>
        <th>Id</th>
        <th>Product name</th>
        <th>Price</th>
        <th>Actions</th>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Iphone</td>
            <td>1000</td>
            <td><a href="/product/detail">Detail</a></td>
        </tr>
        <tr>
            <td>2</td>
            <td>Iphone 16 pro</td>
            <td>1000</td>
            <td><a href="/product/detail">Detail</a></td>
        </tr>
        <tr>
            <td>3</td>
            <td>Iphone 16 pro max</td>
            <td>1000</td>
            <td><a href="/product/detail">Detail</a></td>
        </tr>
        <tr>
            <td>4</td>
            <td>Macbook</td>
            <td>1000</td>
            <td><a href="/product/detail">Detail</a></td>
        </tr>

    </tbody>
</table>