<!DOCTYPE>
<html>
    <head>
        <!-- Bootstrap CSS -->
    <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" >

    <title>Hello, world!</title>
    </head>
    <body>
        <div>
            <h1>Demo EJS</h1>
            <h3> Name: <%= name %> </h3>
            <h3> Email: <%= email %></h3>
            <h3> Adress: <%= address %></h3>
        </div>
        <button class="btn btn-primary">Test</button>
    </body>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js" ></script>

</html>